In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("./datos/iris_incorrecto.csv")
df

     sepal_length sepal_width petal_length  petal_width    species
0             5.1         3.5          1.4          0.2     setosa
1             4.9         3.0          1.4          0.2     setosa
2             4.7         3.2          1.3          0.2     setosa
3             4.6         3.1          1.5          0.2     setosa
4             5.0         3.6          1.4          0.2     setosa
..            ...         ...          ...          ...        ...
145           6.7         3.0          5.2          2.3  virginica
146           6.3         2.5          5.0          1.9  virginica
147           6.5         3.0          5.2          2.0  virginica
148           6.2         3.4          5.4          2.3  virginica
149           5.9         3.0          5.1          1.8  virginica

[150 rows x 5 columns]

In [10]:
df.sample(10)

     sepal_length sepal_width petal_length  petal_width     species
13            4.3         3.0          1.1          0.1      setosa
15            5.7         4.4          1.5          0.4      setosa
23            NaN         3.3          1.7          0.5      setosa
85            6.0         3.4          4.5          1.6  versicolor
109           7.2         3.6          6.1          2.5   virginica
16            5.4         3.9          1.3          0.4      setosa
1             4.9         3.0          1.4          0.2      setosa
130           7.4         2.8          6.1          1.9   virginica
114           5.8         2.8          5.1          2.4   virginica
35            5.0         3.2          1.2          0.2      setosa

In [11]:
df.describe()

       sepal_length  petal_width
count    148.000000   150.000000
mean       5.858108     1.199333
std        0.822723     0.762238
min        4.300000     0.100000
25%        5.100000     0.300000
50%        5.800000     1.300000
75%        6.400000     1.800000
max        7.900000     2.500000

In [13]:
print(df.shape)
df.describe()

(150, 5)

       sepal_length  petal_width
count    148.000000   150.000000
mean       5.858108     1.199333
std        0.822723     0.762238
min        4.300000     0.100000
25%        5.100000     0.300000
50%        5.800000     1.300000
75%        6.400000     1.800000
max        7.900000     2.500000

In [15]:
df.dtypes

sepal_length    float64
sepal_width      object
petal_length     object
petal_width     float64
species          object
dtype: object

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  148 non-null    float64
 1   sepal_width   148 non-null    object
 2   petal_length  150 non-null    object
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(2), object(3)
memory usage: 6.0+ KB

In [18]:
# eliminar casos faltantes
# df2 = df.dropna()
# no gastar tanta memoria
df.dropna(inplace=True)

In [21]:
# filtrado por columna
df.sepal_length
print(type(df.sepal_length))

<class 'pandas.core.series.Series'>

In [22]:
df["sepal_length"]

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 146, dtype: float64

In [23]:
df.loc[:, "sepal_length"]

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 146, dtype: float64

In [24]:
df.iloc[:,0]

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 146, dtype: float64

In [27]:
# analizar la columna
df["sepal_width"]
lucky_numbres=[7,14,15,3,21,3,20,13,13]
lista = list(set(lucky_numbres))
lista.sort()
lista

[3, 7, 13, 14, 15, 20, 21]

In [31]:
col = list(set(df["sepal_width"]))
col.sort()
col

['-',
 '2.0',
 '2.2',
 '2.3',
 '2.4',
 '2.5',
 '2.6',
 '2.7',
 '2.8',
 '2.9',
 '3.0',
 '3.1',
 '3.2',
 '3.3',
 '3.4',
 '3.5',
 '3.6',
 '3.7',
 '3.8',
 '3.9',
 '4.0',
 '4.1',
 '4.2',
 '4.4',
 '_']

In [36]:
no_numbers = []
for i in col:
    try:
        float(i)
    except:
        no_numbers.append(i)
no_numbers

['-', '_']

In [48]:
# Crea una funcion que acepte un dataFrame y 
# que aplica un analisis visto en clase en donde se muestre un resumen por columna

def analisis_NUM(df):  
    resumen = pd.DataFrame()
    resumen['tipos'] = df.dtypes
    # resumen = resumen[(resumen['tipos'] == 'int64') | (resumen['tipos'] == 'float64')]
    resumen['datos faltentes'] = df.isnull().sum()

    return resumen

analisis_NUM(df)

                tipos  datos faltentes
sepal_length  float64                0
petal_width   float64                0

In [7]:
# llenar datos 
df_lleno = df.fillna(0)
df_lleno

     sepal_length sepal_width petal_length  petal_width    species
0             5.1         3.5          1.4          0.2     setosa
1             4.9         3.0          1.4          0.2     setosa
2             4.7         3.2          1.3          0.2     setosa
3             4.6         3.1          1.5          0.2     setosa
4             5.0         3.6          1.4          0.2     setosa
..            ...         ...          ...          ...        ...
145           6.7         3.0          5.2          2.3  virginica
146           6.3         2.5          5.0          1.9  virginica
147           6.5         3.0          5.2          2.0  virginica
148           6.2         3.4          5.4          2.3  virginica
149           5.9         3.0          5.1          1.8  virginica

[150 rows x 5 columns]