In [1]:
import pandas as pd

In [86]:
df = pd.read_csv("./datos/twitter.csv")
df.dtypes

id             int64
full_text     object
favorites    float64
retweets     float64
mentions     float64
country       object
user          object
followers    float64
followees      int64
dtype: object

In [4]:
index = df["full_text"].str.lower().str.contains("programming")
df[index]

,id,full_text,favorites,retweets,mentions,country,user,followers,followees
11,183732,Its been in love with the game with the origin...,349.0,44.0,19.0,BRASIL,mateusmartins,982.0,1822
12,183733,Programming is the best!,467.0,69.0,10.0,ECUADOR,leonardokuffo,389.0,258
19,183740,Programming is a hot topic!,133.0,145.0,15.0,BRASIL,lucasperes,82.0,351
20,183741,Programming? i love it!,92.0,146.0,1.0,ECUADOR,galocastillo,332.0,378
24,183745,There is nothing better than programming!,424.0,110.0,29.0,BRASIL,lucasperes,82.0,351
26,183747,I do not know if i like programming or other t...,318.0,58.0,20.0,BRASIL,isabelladasilva,928.0,9918

In [7]:
# solo para etiquetas o boleano
df.loc[index, ["full_text", "country"]]

                                            full_text  country
11  Its been in love with the game with the origin...   BRASIL
12                           Programming is the best!  ECUADOR
19                        Programming is a hot topic!   BRASIL
20                            Programming? i love it!  ECUADOR
24          There is nothing better than programming!   BRASIL
26  I do not know if i like programming or other t...   BRASIL

In [13]:
from collections import Counter

lista_palabras = list()
for item in df.loc[index, ["full_text", "country"]].values:
    # print(item[0].lower())
    lista_palabras.extend(item[0].lower().split())
Counter(lista_palabras)

Counter({'programming': 4,
         'the': 3,
         'is': 3,
         'i': 3,
         'love': 2,
         'with': 2,
         'better': 2,
         'its': 1,
         'been': 1,
         'in': 1,
         'game': 1,
         'original': 1,
         'monokai': 1,
         'colorization': 1,
         'for': 1,
         'best!': 1,
         'a': 1,
         'hot': 1,
         'topic!': 1,
         'programming?': 1,
         'it!': 1,
         'there': 1,
         'nothing': 1,
         'than': 1,
         'programming!': 1,
         'do': 1,
         'not': 1,
         'know': 1,
         'if': 1,
         'like': 1,
         'or': 1,
         'other': 1,
         'thing': 1})

In [14]:
import random
def calcularGanancias(retweets):
    return retweets * random.randint(3,5)

df["ganancias"] = df["retweets"].apply(calcularGanancias)

In [15]:
df["ganancias"]

0       NaN
1      63.0
2     492.0
3     380.0
4     650.0
5     280.0
6     160.0
7     250.0
8     246.0
9     276.0
10    555.0
11    176.0
12    276.0
13     96.0
14     72.0
15    460.0
16    460.0
17    372.0
18     78.0
19    725.0
20    584.0
21    292.0
22    380.0
23    572.0
24    440.0
25    112.0
26    232.0
Name: ganancias, dtype: float64

In [76]:
def most_freqquent_word(full_text):
    palabras = Counter(full_text.lower().split())
    word = palabras.most_common()[0][0]
    if palabras.most_common()[0][1] == 1:
        word = None
    return word

In [77]:
df["word"] = df["full_text"].apply(most_freqquent_word)
df["word"]

0       to
1     None
2     None
3       by
4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    with
12    None
13    None
14    None
15    None
16    None
17    None
18    None
19    None
20    None
21    None
22    None
23    None
24    None
25    None
26       i
Name: word, dtype: object

In [79]:
def popularidad(fila):
    return fila["followers"] / fila["followees"]

df["popularidad"] = df.apply(popularidad, axis=1)
df["popularidad"]

0     1.507752
1     0.538968
2     0.093023
3     0.878307
4     0.093023
5     0.538968
6     1.507752
7     0.093023
8     0.093023
9     0.538968
10    0.538968
11    0.538968
12    1.507752
13    1.507752
14    0.007718
15    0.093023
16    0.233618
17    0.007718
18    0.878307
19    0.233618
20    0.878307
21    0.878307
22    0.233618
23         NaN
24    0.233618
25    0.007718
26    0.093567
Name: popularidad, dtype: float64

In [91]:
df.dropna(inplace=True)
df.groupby("country").mean(numeric_only=True)

,id,favorites,retweets,mentions,followers,followees
country,,,,,,
BRASIL,183736.777778,312.111111,93.333333,18.666667,576.000000,2067.777778
ECUADOR,183734.285714,209.714286,64.857143,12.142857,356.428571,326.571429
MEXICO,183733.142857,294.857143,81.714286,14.285714,15.857143,1239.857143

In [92]:
grouped = df.groupby("country").agg(
    {
        "followers": "sum",
        "mentions": "mean",
        "retweets": "max"
    })

# grouped[grouped

         followers   mentions  retweets
country
BRASIL      5184.0  18.666667     145.0
ECUADOR     2495.0  12.142857     146.0
MEXICO       111.0  14.285714     130.0