In [1]:
import pandas as pd

In [53]:
pd.read_csv("./datos/canciones.csv")

df = pd.read_csv("./datos/canciones.csv", header=None)

In [7]:
df.columns = ["rola", "cantante"]

In [8]:
df

                    rola      cantante
0                cancion       artista
1  since i dont have you  guns n roses
2                 hijole         no se

In [12]:
#Repaso listas por comprension

# crear una lista con las cadenas "x1", "x2", "x3", ...
lista = []
for i in range(1, 4):
    cad = "x"+ str(i)
    lista.append(cad)
lista

['x1', 'x2', 'x3']

In [14]:
["x" + str(i) for i in range(1,4)]

['x1', 'x2', 'x3']

**Ejercicio:** resolver de **cuatro formas difereneste** el siguiente problema.
crear una lista con cadenas "x4","x3","x2","x1"

In [17]:
lista1 = []
for i in range(4,0,-1):
    lista1.append("x"+str(i))
lista1

['x4', 'x3', 'x2', 'x1']

In [25]:
lista2 = []
i = 4
while(i >= 1):
    lista2.append("x"+str(i))
    i-=1
lista2

['x4', 'x3', 'x2', 'x1']

In [38]:
lista3 = ["x" + str(i) for i in range(4,0,-1)]

In [37]:
lista4 = ["x" + str(i) for i in range(1,5)]
print(lista4[::-1])

['x4', 'x3', 'x2', 'x1']

In [39]:
# lista[inicio:fin:paso]
# a) fin > inicio cuidar el paso debe ser +
# b) fin < inicio cuidar el paso debe ser -
# c) no se especifica inicio y/o fin

In [41]:
lista_ejemplo = ["x" + str(i) for i in range(1,11)]
lista_ejemplo

['x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8', 'x9', 'x10']

In [43]:
# acceder a los elem x10 x8 x6 ...
lista_ejemplo[::-2]

['x10', 'x8', 'x6', 'x4', 'x2']

In [45]:
lista_ejemplo[::-9]

['x10', 'x1']

Continuamos con **pandas**

In [75]:
df = pd.read_csv("./datos/canciones.csv")
df.columns=["x" + str(i) for i in range(1,df.shape[1]+1)]
df

                      x1            x2   x3      x4
0  since i dont have you  guns n roses  100  103.45
1                 hijole         no se  101   67.56
2       la incondicional   luis miguel   99    1.01
3               Marinero             ?  100   99.12

In [76]:
df.head() # mostrar peimeros
df.tail() # mostrar ultimos
df.sample(2) # elegir elem aletaorios

                      x1            x2   x3      x4
3               Marinero             ?  100   99.12
0  since i dont have you  guns n roses  100  103.45

In [60]:
df.describe() #solo a column numericas

          x3
count    3.0
mean   100.0
std      1.0
min     99.0
25%     99.5
50%    100.0
75%    100.5
max    101.0

In [77]:
df.dtypes

x1     object
x2     object
x3      int64
x4    float64
dtype: object

In [68]:
df[["x1","x2"]].describe()

                           x1            x2
count                       3             3
unique                      3             3
top     since i dont have you  guns n roses
freq                        1             1

In [78]:
# se añadio una nueva col
df = pd.read_csv("./datos/canciones.csv")
df.dtypes

cancion     object
artista     object
likes        int64
ventas     float64
dtype: object

In [72]:
df.describe()

       likes      ventas
count    3.0    3.000000
mean   100.0   57.340000
std      1.0   51.979079
min     99.0    1.010000
25%     99.5   34.285000
50%    100.0   67.560000
75%    100.5   85.505000
max    101.0  103.450000

In [79]:
df[["cancion","artista"]].describe()

                      cancion       artista
count                       4             3
unique                      4             3
top     since i dont have you  guns n roses
freq                        1             1

In [74]:
df[["likes","ventas"]].describe()

       likes      ventas
count    3.0    3.000000
mean   100.0   57.340000
std      1.0   51.979079
min     99.0    1.010000
25%     99.5   34.285000
50%    100.0   67.560000
75%    100.5   85.505000
max    101.0  103.450000